name: Selenium Tests
on: [push, pull_request]

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  selenium:
    name: Selenium (${{matrix.elixir-otp.elixir}}/${{matrix.elixir-otp.otp}})
    runs-on: ubuntu-latest

    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true)

    strategy:
      matrix:
        elixir-otp: [{otp: 21.x, elixir: 1.8.x}, {otp: 21.x, elixir: 1.9.x}, {otp: 21.x, elixir: 1.10.x}, {otp: 21.x, elixir: 1.11.x}, {otp: 22.x, elixir: 1.12.x}]
      fail-fast: false

    env:
      WALLABY_DRIVER: selenium
      ELIXIR_VERSION: ${{ matrix.elixir-otp.elixir }}
      OTP_VERSION: ${{ matrix.elixir-otp.otp }}

    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-elixir@v1
      with:
        otp-version: ${{matrix.elixir-otp.otp}}
        elixir-version: ${{matrix.elixir-otp.elixir}}

    - uses: actions/cache@v1
      id: cache
      with:
        path: deps
        key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: mix deps.get

    - name: Run Tests
      run: |
        java -jar "$SELENIUM_JAR_PATH" > /dev/null 2>&1 &

        mix coveralls.json

    - name: Upload results to CodeCov
      run: bash <(curl -s https://codecov.io/bash) -F IntegrationTest -e WALLABY_DRIVER,ELIXIR_VERSION,OTP_VERSION || echo "Codecov did not collect coverage reports"

